html {
font: 100%/1.15 sans-serif;
margin-left: 2%;
margin-right: 2%;
}
h1 {
font-size: 7em;
text-align: center;
margin-top: -0.45em;
margin-bottom: 0em;
}
p {
font-size: .875em;
}
p.list-title {
font-size: 60%;
}
div.sample {
width: 40%;
font-size: 2em;
margin-left: 5%;
margin-right: 2.5%;
float: left;
}
ul {
font-size: .475em;
margin-right: 4em;
margin-bottom: 2em;
}
div.examples {
font-size: 2em;
}
div.text {
width: 40%;
margin-top: 1.1em;
margin-right: 5%;
margin-left: 2.5%;
float: right;
}
div.info {
display: inline-block;
}